.row
    display: flex
    &:not(:last-child)
        margin-bottom: 1rem

    &--is-multiline
        flex-wrap: wrap

    &--is-centered
        justify-content: center

    &--is-vcentered
        align-items: center

.column
    display: block
    flex-basis: 0
    flex-grow: 1
    flex-shrink: 1
    padding: 10px
    for $i in (1)..(12)
        &--is-{$i}
            flex: none
            width: ($i/12*100%)

    +mobile()
        for $i in (1)..(12)
            &--is-{$i}-mobile
                flex: none
                width: ($i/12*100%)

    +tablet()
        for $i in (1)..(12)
            &--is-{$i}-tablet
                flex: none
                width: ($i/12*100%)

    +desktop()
        for $i in (1)..(12)
            &--is-{$i}-desktop
                flex: none
                width: ($i/12*100%)

    +widescreen()
        for $i in (1)..(12)
            &--is-{$i}-widescreen
                flex: none
                width: ($i/12*100%)

