.text
    font-size: 1rem
    font-weight: normal

    &--is-1
        font-size: 1rem

    &--is-2
        font-size: 1.2rem

    &--is-3
        font-size: 1.4rem

    &--is-4
        font-size: 1.6rem

    &--is-5
        font-size: 1.8rem

    &--is-6
        font-size: 2rem

    &--is-small
        font-size: 0.8rem

    &--is-bold
        font-weight: bold

    &--is-bolder
        font-weight: bolder

    &--is-lighter
        font-weight: lighter

    &--is-centered
        text-align: center
