.is-clipped
    overflow: hidden !important

.is-hidden
    display: none !important

.is-hidden-mobile
    +mobile()
        display: none !important

.is-hidden-tablet
    +tablet()
        display: none !important

.is-hidden-tablet-only
    +tablet-only()
        display: none !important

.is-hidden-desktop
    +desktop()
        display: none !important

.is-hidden-desktop-only
    +desktop-only()
        display: none !important

.is-hidden-widescreen
    +widescreen()
        display: none !important

.is-disabled
    pointer-events: none

.is-marginless
    margin: 0 !important

.is-paddingless
    padding: 0 !important

