/***************
    Color
****************/

// Specific colors
$color-black := #141414
$color-gray := #ECECEC
$color-white := #FFFFFF
$color-orange := #F89406
$color-yellow := #F7CA18
$color-green := #4ECDC4
$color-blue := #446CB3
$color-purple := #663399
$color-red := #EC644B

// Primary colors
$color-primary := $color-orange
$color-info := $color-blue
$color-success := $color-green
$color-warning := $color-yellow
$color-danger := $color-red

// General colors
$color-text := $color-black
$color-link := darken($color-gray, 30%)
$color-link-hover := $color-primary
$color-body-background := $color-gray
$color-background := $color-gray
$color-border := $color-black
$color-border-hover := $color-black

/***************
   Typography
****************/

// Font family
$font-family-primary := sans-serif
$font-family-code := monospace

// Font size
$font-size-small := 0.8rem
$font-size-1 := 1rem
$font-size-2 := 1.5rem
$font-size-3 := 2rem
$font-size-4 := 2.5rem
$font-size-5 := 3rem

// Font weight
$font-weight-normal := normal
$font-weight-bold := bold
$font-weight-bolder := bolder
$font-weight-lighter := lighter

/***************
   Animation
****************/

// Transition
$animation-speed := 0.2s

/***************
   Responsive
****************/
$tablet := 769px
$desktop := 980px
$widescreen := 1180px

