html
	-webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    min-width: 300px
    overflow-x: hidden
    overflow-y: scroll
    text-rendering: optimizeLegibility

img
	max-width: 100%
